/* =======================
CSS RESET START
========================== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


/* Remove list styles & padding on ul & ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
ul {
  list-style: none;
  padding: 0;
}


/* Set core body defaults */
body {
  min-height: 100vh;
  /* line-height: 1.6; */
  text-rendering: optimizeSpeed;
}


/* removes default underline from links */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* =======================
CSS RESET END
========================== */


/* ==========
fonts
=========== */

/* josefin-sans-300 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/josefin-sans-v17-latin-300.woff') format('woff');
}

/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/josefin-sans-v17-latin-regular.woff') format('woff');
}

/* josefin-sans-600 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/josefin-sans-v17-latin-600.woff') format('woff');
}

/* josefin-sans-700 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/josefin-sans-v17-latin-700.woff') format('woff');
}

/* ========
body basics
=========== */

:root {
  --transparent-blue: hsla(202, 100%, 18%, 0.8);
  --opaque-blue: #003a5c;
  --pale-lavendar: #CB8DC3;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--opaque-blue);
  color: ghostwhite;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  position: relative;
}

body:before {
  background: url(images/statue_blue.jpg) no-repeat;
  background-size: cover;
  background-position-x: 62%;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -10;

}

/* =======
Typography
========== */
h1 {
  font-size: 3.25rem;
  text-align: center;
  font-weight: normal;
  line-height: .9;
  padding-bottom: .15em;
}

h2 {
  margin-bottom: .25em;
}

h2,
.user-info__label {
  font-size: 1.25rem;
  font-weight: 600;
}

.header__rotating-text {
  animation: lucid 2000ms ease-out 1000ms backwards;
  text-align: center;
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.light-weight-text {
  font-weight: 300;
  font-size: 1rem;
}

/* animation for rotating text */

@keyframes lucid {
  0% {
    opacity: 0;
    transform: scale(25) rotate(360deg);
  }

  90% {
    opacity: 0.2;
    transform: scale(.95);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

/* ======
layout
======== */
.container {
  position: relative;
  width: min(95%, 1200px);
  min-height: 100vh;
  margin: 0 auto;
}

.container--blue {
  background: var(--transparent-blue);
  padding: .75rem;
  margin: .75rem 0 0;
  border-radius: 5px;
}

.container-desktop {
  display: flex;
  flex-direction: column;
}

/* header
========== */
header.container--blue {
  padding: 1rem;
}


/* .user-info
=================== */
.user-info__label {
  display: inline-block;
}

.user-info__label:nth-of-type(2),
.user-info__label:nth-of-type(3) {
  margin-top: .5em;
}

.user-info input:focus {
  border: 1px solid var(--pale-lavendar);
}

.user-info input {
  padding-left: .25em;
}

/* favorite technique 
===================== */
/* submit
======= */
.fave-technique {
  text-align: center;
}

#fave-technique__menu,
.submit__btn {
  background: ghostwhite;
  border: 1px solid var(--opaque-blue);
  border-radius: 2px;
  color: var(--opaque-blue);
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
}
#fave-technique__menu {
  padding: .5em .75em .25em;
}


.submit {
  text-align: center;
}
.submit__btn {
  box-shadow: 0 0 6px 4px inset var(--opaque-blue);
  padding: 1.25em 2em 1em;
}
.submit__btn:hover,
.submit__btn:focus {
  color: var(--transparent-blue);
  cursor: pointer;
  box-shadow: 0 0 5px 3px inset var(--opaque-blue);
}
.submit__btn:focus {
  border: 1px solid var(--pale-lavendar);
}

/* footer
========== */
footer {
  text-align: center;
  opacity: .5;
  margin-top: auto;
}

/* 
===========
media query-tablet
========== */

@media (min-width: 29.6875em) {
  .container-tablet {
    width: 232px;
  }
}
/* 
===========
media query-desktop
========== */
@media (min-width: 52.1875em) {
  h1 {
    font-size: 3.5rem;
  }

  .container-desktop {
    flex-direction: row;
  }

  .container-tablet {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
  }
  .container-tablet > *  {
    width: 48%;
  }

}
